<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SO_NAIJI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SO_NAIJI.Properties.Settings>
            <setting name="txtCustCode" serializeAs="String">
                <value />
            </setting>
            <setting name="txtCSVword" serializeAs="String">
                <value />
            </setting>
            <setting name="txtDelimiter" serializeAs="String">
                <value />
            </setting>
            <setting name="txtCustSoNo" serializeAs="String">
                <value />
            </setting>
            <setting name="txtDeli" serializeAs="String">
                <value />
            </setting>
            <setting name="checkInputHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkOutputHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtHeaderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="txtInputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="txtOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="txtOrderDate" serializeAs="String">
                <value />
            </setting>
            <setting name="txtPDFstate" serializeAs="String">
                <value />
            </setting>
            <setting name="txtPDFtag" serializeAs="String">
                <value />
            </setting>
            <setting name="checkCopyPDF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkMoveFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtPDForder" serializeAs="String">
                <value />
            </setting>
        </SO_NAIJI.Properties.Settings>
    </userSettings>
</configuration>